@model IEnumerable<SIMS_Demo.Models.User>
@{
    Layout = "Layout_Admin";
    string userName = ViewBag.UserName;
    string userRole = ViewBag.Role;
}
<style>
    h1 {
        margin-top:15px;
        text-align: center;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end; /* Căn phải nút */
        margin-bottom: 15px; /* Khoảng cách dưới của nút */
    }
</style>
<h1>Admin Dashboard</h1>
<p>Welcome Back @userName</p>
<p>You are @userRole,You are allowed to participate in student management such as: Add, Edit, Delete and Update students</p>

<div class="btn-container">
    <!-- Nút thêm học sinh -->
    <a class="btn btn-sm btn-success" href="@Url.Action("NewStudent","HomeAdmin")">Add New Student</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Major</th>
            <th>Core</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model.Where(u => u.Role =="Student"))
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name </td>
            <td>@item.Email</td>
            <td>@item.Major</td>
            <td>@item.Core</td>
            <td>@item.Status</td>
            <td>
                <a class="btn btn-sm btn-primary" href="@Url.Action("Edit","HomeAdmin",new {id=item.Id})">Edit</a>
                <a class="btn btn-sm btn-primary" href="@Url.Action("Delete","HomeAdmin",new {id=item.Id})">Delete</a>
            </td>
        </tr>
    }
</table>
